<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} SMART START || TUNIS  {% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/responsive.css') }}">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('front/images/favicon1.png') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('front/images/favicon1.png') }}" type="image/x-icon">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" >
</head>
<body>

<div class="boxed_wrapper">


    <!--Start Preloader -->
    <div class="preloader"></div>
    <!-- Main Header-->
    <header class="main-header">
        {% block header %}
            <div class="header-top">
                <div class="container">
                    <div class="clearfix">
                        <!--Top Left-->
                        <div class="top-left">
                            <ul class="header-info-list">
                                <li><span class="icon fa fa-envelope"></span><strong>Email</strong> info@smartstart.com</li>
                                <li><span class="icon fa fa-map-marker"></span><strong>Localisation</strong> Esprit ghazela,Tunis</li>
                            </ul>
                        </div>
                        <!--Top Right-->
                        <div class="top-right">
                            <!--Social Box-->
                            <ul class="social-box">
                                <li class="share">Contactez-nous</li>
                                <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                                <li><a href="#"><span class="fab fa-vimeo"></span></a></li>
                                <li><a href="#"><span class="fab fa-google-plus"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Header-Upper-->
            <div class="header-upper">
                <div class="container">
                    <div class="clearfix">

                        <div class="float-left logo-box">
                            <div class="logo"><a href=""><img src="{{ asset('front/images/smart.png') }}" alt="" title=""></a></div>
                        </div>

                        <div class="nav-outer clearfix">

                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-md">
                                <div class="navbar-header">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">

                                        <li><a href="{{ path ('actualite_front') }}">ACCUEIL</a></li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">FORMATION <b class="fa fa-caret-down"></b></a>
                                            <ul class="dropdown-menu agile_short_dropdown">
                                                <li><a href="{{ path ('formation_afficheformation') }}">AFFICHER FORMATION</a></li>
                                                <li><a href="{{ path ('avis_ajout') }}">AJOUTER UN AVIS</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">OFFRES</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">RECLAMATION <b class="fa fa-caret-down"></b></a>
                                            <ul class="dropdown-menu agile_short_dropdown">
                                                <li><a href="{{ path ('reclamation_new') }}">AJOUTER RECLAMATION</a></li>
                                                <li><a href="{{ path ('feedback_new') }}">AJOUTER FEEDBACK</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{ path ('projet_ajoutprojet') }}">CROWDFUNDING</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">EVENEMENTS <b class="fa fa-caret-down"></b></a>
                                            <ul class="dropdown-menu agile_short_dropdown">
                                                <li><a href="{{ path ('calendrier') }}">RESERVER</a></li>
                                                <li><a href="{{ path ('userevent') }}">MES EVENEMENTS</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{ path ('actualite_affiche') }}">ESPACE ADMIN</a></li>

                                    </ul>
                                </div>

                            </nav>

                            {% block button %}
                                <div class="button-box">
                                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <li><a href="{{ path('fos_user_security_login') }}" class="theme-btn btn-style-one">Connexion</a>
                                            <a href="{{ path('fos_user_registration_register') }}" class="theme-btn btn-style-one" title="">s'inscrire</a></li>

                                    {% else %}
                                        <li><a class="theme-btn btn-style-one" href="{{ path('fos_user_security_logout') }}" title="">se deconnecter</a></li>
                                    {% endif %}
                                </div>
                            {% endblock %}
                            <!--Search Box Outer-->

                        </div>

                    </div>
                </div>
            </div>
            <!--End Header Upper-->

            <!--Sticky Header-->
            <!--End Sticky Header-->
        {% endblock %}

    </header>
    <!--End Main Header -->

    <div class="boxed_wrapper">
        {% block body %}


        {% endblock %}


        <!--Contact Info-->
        <section class="contact-info">
            <div class="container">
                <div class="info-area">
                    <div class="row">
                        {% block contactinfo %}
                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="contact-info-item-one">
                                    <div class="icon-box">
                                        <i class="flaticon-placeholder"></i>
                                    </div>
                                    <div class="text">
                                        <p>ESPRIT GHAZELA <br>TUNIS</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="contact-info-item-one">
                                    <div class="icon-box">
                                        <i class="flaticon-phone-call"></i>
                                    </div>
                                    <div class="text">
                                        <p>(1800) 123 4567 <br>(1800) 123 4568</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="contact-info-item-one">
                                    <div class="icon-box">
                                        <i class="flaticon-e-mail-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p>
                                            <a href="#">info@smartstart.com</a>
                                            <a href="#">support@wiscon.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <!--End Contact Info-->

        <!-- Main Footer-->
        {% block navfooter %}
            <footer class="main-footer" style="background: url({{ asset('front/images/background/footer.jpg') }});">
                <div class="container">
                    <div class="footer-area text-center">

                        <div class="footer-logo">
                            <figure>
                                <a href=""><img src="images/" alt=""></a>
                            </figure>
                        </div>
                        <ul class="footer-menu">
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Evenement</a>
                            <li><a href="#">offres</a></li>
                            <li><a href="#">Réclamations</a></li>
                            <li><a href="#">CrowdFunding</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">FORUM <b class="fa fa-caret-down"></b></a>
                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li><a href="icons.html">EVENEMENTS</a></li>
                                    <li><a href="typography.html">FORMATIONS</a></li>
                                </ul>
                            </li>
                        </ul>


                    </div>
                </div>
            </footer>
        {% endblock %}
        <!--End Main Footer-->

        <!--Footer Bottom Section-->
        <section class="footer-bottom">
            <div class="container">
                {% block footer %}
                    <div class="copyright-text text-center">
                        Copyright &copy; <a href="#">CYBER TECH</a> 2019. Tous les droits sont reservés
                    </div>
                {% endblock %}
            </div>
        </section>
        <!--End Footer Bottom Section-->

    </div>
    {% block javascripts %}
        <script src="{{ asset('front/js/jquery.js') }}"></script>
        <script src="{{ asset('front/js/popper.min.js') }}"></script>
        <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('front/js/jquery.fancybox.js') }}"></script>
        <script src="{{ asset('front/js/owl.js') }}"></script>
        <script src="{{ asset('front/js/wow.js') }}"></script>
        <script src="{{ asset('front/js/jquery.countTo.js') }}"></script>
        <script src="{{ asset('front/js/jquery.countdown.min.js') }}"></script>
        <script src="{{ asset('front/js/appear.js') }}"></script>
        <script src="{{ asset('front/js/jquery-ui.js') }}"></script>
        <script src="{{ asset('front/js/isotope.js') }}"></script>
        <script src="{{ asset('front/js/bxslider.js') }}"></script>
        <script src="{{ asset('front/js/validate.js') }}"></script>

        <script src="{{ asset('front/js/custom.js') }}"></script>

        <!--Google Map-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBevTAR-V2fDy9gQsQn1xNHBPH2D36kck0"></script>
        <script src="{{ asset('front/js/map-script.js') }}"></script>
        <!--End Google Map APi-->


    {% endblock %}

    {% block jsBloc %}
    {% endblock %}
</div>
</body>
</html>
