{% extends 'base1.html.twig' %}
{% block body %}
    <center>
        <h2> Projects </h2>
        <input type="text" id="search" placeholder="search ..."/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


        <table border="2" class="tableac" id="tableac">


            <td bgcolor="red">  Title </td>
            <td bgcolor="red">  Object </td>
            <td bgcolor="red"> Start Date</td>
            <td bgcolor="red">  End Date</td>
            <td bgcolor="red"> Description </td>
            <td bgcolor="red"> Price  </td>

            <td>   </td>
            <td>    </td>
            {% for f in formulaires %}
                <tr>
                    <td > {{ f.titre }} </td>
                    <td > {{ f.objectif }} </td>
                    <td > {{ f.dateDeb | date('Y-m-d') }} </td>
                    <td > {{ f.dateFin | date('Y-m-d') }} </td>
                    <td > {{ f.description }} </td>
                    <td > {{ f.montant }} </td>
                    <td bgcolor="#f4a460"><img src="{{ asset('image/'~ f.imagep) }}" height="70px" width="180px" </td>


                   <td> <a href="{{ path('projet_deleteprojet',{'id':f.id}) }}"> <button> Supprimer</button></a></td>
                   <td> <a href="{{ path('projet_updateprojet',{'id':f.id}) }}"> <button> Modifier</button></a></td>
                    <td> <a href="{{ path('projet_ajoutformulaire',{'id':f.id}) }}"> <button> Ajouter_Formulaire</button></a></td>
                </tr>
            {% endfor %}
        </table>
        <div class="btn btn-info">
            {{ knp_pagination_render(formulaires ) }}
        </div>
    </center>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
    </script>


{% endblock %}