{% extends 'base.html.twig' %}

{% block body %}

    <h1>Feedbacks list</h1>

    <table  border="2">
        <thead>
            <tr>
                <th>Id7</th>
                <th>Objet7</th>
                <th>Contenu7</th>
                <th>Mail7</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedbacks %}
            <tr>
                <td><a href="{{ path('feedback_show', { 'id7': feedback.id7 }) }}">{{ feedback.id7 }}</a></td>
                <td>{{ feedback.objet7 }}</td>
                <td>{{ feedback.contenu7 }}</td>
                <td>{{ feedback.mail7 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('feedback_show', { 'id7': feedback.id7 }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('feedback_edit', { 'id7': feedback.id7 }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('feedback_new') }}">Create a new feedback</a>
        </li>
    </ul>
{% endblock %}
