{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feedback creation</h1>

    {{ form_start(form) }}
    <table>
        <tr>
            <td>Objet:</td><td>{{ form_widget(form.objet7) }}</td><td> {{ form_errors(form.objet7) }} </td>
        </tr>
        <tr>
            <td>Contenu:</td><td>{{ form_widget(form.contenu7) }}</td>
        </tr>
        <tr>
            <td>Mail:</td><td>{{ form_widget(form.mail7) }}</td><td> {{ form_errors(form.mail7) }} </td>
        </tr>
        <tr>
            <td>Iduser:</td><td>{{ form_widget(form.iduser7) }}</td>
        </tr>

    </table>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('feedback_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
