{% extends 'base.html.twig' %}

{% block button %}

    <div class="button-box">
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li>
                <a href="{{ path('fos_user_security_login') }}" class="theme-btn btn-style-one">Connexion</a>
            </li>

        {% else %}
            <li><a class="theme-btn btn-style-one" href="{{ path('fos_user_security_logout') }}" title="">se deconnecter</a></li>
        {% endif %}
    </div>

{% endblock %}

{% block body %}
    <br><br>
    <!DOCTYPE html>
    <html>
    <head>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>AdminLTE 2 | Log in</title>
            <!-- Tell the browser to be responsive to screen width -->
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <!-- Bootstrap 3.3.7 -->
            <link rel="stylesheet" href="{{ asset('back/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{{ asset('back/bower_components/font-awesome/css/font-awesome.min.css') }}">
            <!-- Ionicons -->
            <link rel="stylesheet" href="{{ asset('back/bower_components/Ionicons/css/ionicons.min.css') }}">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('back/dist/css/AdminLTE.min.css') }}">
            <!-- iCheck -->
            <link rel="stylesheet" href="{{ asset('back/plugins/iCheck/square/blue.css') }}">

            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        </head>


    </head>


    <body class="hold-transition register-page">
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="register-box">
        <div class="register-logo">
            <a href=""><b>Smart</b> Start</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Creer un compte</p>
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
           {# {{ form_widget(form) }}#}


            <div class="form-group has-feedback">
                {{ form_label(form.username, 'User Name : ',{'attr': {'class': 'control-label'}})  }}
                {{ form_widget(form.username,  {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.username) }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form_label(form.nom, 'Nom : ',{'attr': {'class': 'control-label'}})  }}
                {{ form_widget(form.nom,  {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom) }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form_label(form.prenom, 'Prenom : ',{'attr': {'class': 'control-label'}})  }}
                {{ form_widget(form.prenom,  {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prenom) }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form_label(form.email, 'Email : ',{'attr': {'class': 'control-label'}})  }}
                {{ form_widget(form.email,  {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

<br>

            <div class="form-group has-feedback" style="width: 320px;height: 100px">
                {{ form_label(form.plainPassword, 'Mot de passe : ',{'attr': {'class': 'control-label'}})  }}
                {{ form_widget(form.plainPassword,  {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.plainPassword) }}
            </div>

              <br><br><br>
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

    <!-- jQuery 3 -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="../../plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
    </body>


    </html>
{% endblock %}
{% block navfooter %}
{% endblock %}