{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evenements list</h1>
    {{ socialButtons( { 'facebook': {'locale':'fr_FR', 'send':true}} ) }}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Lieu</th>
                <th>Description</th>
                <th>Dateevent</th>
                <th>Nbplace</th>
                <th>Nomimage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td><a href="{{ path('evenement_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.description }}</td>
                <td>{% if evenement.dateEvent %}{{ evenement.dateEvent|date('Y-m-d') }}{% endif %}</td>
                <td>{{ evenement.nbplace }}</td>
                <td>{{ evenement.nomImage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('evenement_show', { 'id': evenement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <ul>
        <li>
            <a href="{{ path('evenement_new') }}">Create a new evenement</a>
        </li>
    </ul>
{% endblock %}
