{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participations list</h1>

    <table>
        <thead>
            <tr>
                <th>Paticipantid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td><a href="{{ path('participation_show', { 'paticipantId': participation.paticipantId }) }}">{{ participation.paticipantId }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('participation_show', { 'paticipantId': participation.paticipantId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('participation_edit', { 'paticipantId': participation.paticipantId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participation_new') }}">Create a new participation</a>
        </li>
    </ul>
{% endblock %}
