{% extends 'base.html.twig' %}

{% block body %}
    <div class="modal-content">

        {{ form_start(form) }}
        <div class="modal-header">
            <h1 style="color: #003147"><b><i><center>Ajouter une Catégorie</center></i></b></h1>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="form-group col-xs-5">
                    {{ form_label(form.libelle, 'LIBELLE : ',{'attr': {'class': 'control-label'}})  }}
                    {{ form_widget(form.libelle,  {'attr': {'class': 'form-control'}}) }}

                </div>
            </div>


            <div class="row">
                <div class="form-group col-xs-5">
                    {{ form_label(form.description, 'Description : ',{'attr': {'class': 'control-label'}})  }}
                    {{ form_widget(form.description,  {'attr': {'class': 'form-control'}}) }}
                </div>

            </div>



            <div class="modal-footer">
                <a href="{{ path('actualite_homepage') }}" class="btn btn-default pull-left" data-dismiss="modal">Annuler</a>
                {#                <a href="{{ path('actualite_affiche') }}">VOIR LA LISTE <img src="{{ asset('images/liste.png') }}"></a>#}
                {{ form_widget(form.Ajouter,{'label': 'Ajouter', 'attr': {'class': 'btn btn-success btn-rounded'} }) }}
                {{ form_end(form) }}

            </div>
            <div align="right">
                <button type="button" class="btn " size="6 px"><a href="{{ path('categorie_affiche')}}"> Liste des Catégories</a></button></div></div>


        {{ form_end(form) }}


    </div>
    </div>

{% endblock %}
