{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Contrat</th>
                <th>Lieu</th>
                <th>Remuneration</th>
                <th>Competence</th>
                <th>Parttime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td><a href="{{ path('offre_show', { 'id': offre.id }) }}">{{ offre.id }}</a></td>
                <td>{{ offre.contrat }}</td>
                <td>{{ offre.lieu }}</td>
                <td>{{ offre.remuneration }}</td>
                <td>{{ offre.competence }}</td>
                <td>{{ offre.parttime }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('offre_show', { 'id': offre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('offre_edit', { 'id': offre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offre_new') }}">Create a new offre</a>
        </li>
    </ul>
{% endblock %}
